.message-box
    position fixed
    z-index 99999
    padding 15px
    display flex
    flex-direction column
    top 0
    left 50%
    align-items center
    transform translateX(-50%)

    & > .alert
        padding 15px 30px
        color $color-light
        display flex
        flex-grow 1
        transform translateY(0)
        transition transform .15s ease-in, opacity .15s ease-in
        cursor pointer
        opacity 1
        animation-name slidedown
        animation-delay .2s
        animation-duration 1s
        animation-timing-function ease-in
        text-transform capitalize
        border-radius 5px
        box-shadow 3px 3px 20px 2px $color-dark
        max-width 50vw

        &:hover
            opacity .7

        &.alert-success
            background-color $color-success

        &.alert-danger
            background-color $color-danger

    & > .alert:not(:last-child)
        margin-bottom 15px


@media (max-width 768px)
    .message-box > .alert
        max-width 80vw


@keyframes slidedown {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}
