.layout-footer
    display flex
    width 96%
    max-width 1008px
    justify-content center
    align-items center

    .footer-item
        display flex
        flex-grow 1
        color lighten($color-dark, 50%)
        padding 0 20px

        &.copyright
            justify-content flex-start

        &.language-selector
            justify-content center

        &.social-links
            justify-content flex-end


@media (max-width: 768px)
    .layout-footer
        flex-direction column

