.nav-header
  position fixed
  top 0
  left 0
  height 70px
  width 100%
  display flex
  justify-content space-between
  align-items center
  padding 0 30px
  background-color $color-dark
  transition background-color .2s ease-in

  & .sub-menu-list
    position absolute
    height 100%
    width 100%
    top 0
    left 0
    transform translate3D(100%, 0, 0)
    transition transform .15s ease-in
    background-color $color-dark

    &.active
      transform translate3D(0, 0, 0)

  & .menu-list-wrapper
    position relative
    overflow-x hidden
    width 100%

    & > .menu-list
      transform translate3D(0, 0, 0)
      transition transform .15s ease-in

    &.sub-menu-active
      & > .menu-list
        transform translate3D(100%, 0, 0)

    & ul
      margin 0
      width 100%
       & li
         width 100%

  &.scroll
    background-color $color-dark

  & .menu__btn
    display inline-flex
    height 50px
    width 50px
    font-size 25px
    text-align center
    vertical-align middle
    justify-content center
    align-items center
    color darken($color-light, 10%)
    transiltion color .2s ease-in

    &:hover
      color $color-accent

  & .menu-content
    height 70vh
    width 90%
    overflow-x hidden
    overflow-y auto
    display flex
    justify-content center
    align-items center
    flex-direction column

  & .menu-wrapper
    position fixed
    display flex
    top 0
    right 0
    height 100vh
    width 25vw
    align-items center
    justify-content center
    transition transform .2s ease-in
    transform translate(100%, 0)
    z-index 99999
    background-color alpha($color-dark, .5)

    & ul
      text-align center

      & a
        color darken($color-light, 10%)
        transition color .15s linear
        letter-spacing 3px
        position relative

        &:after
          content ''
          position absolute
          display block
          width 100%
          height 1px
          background-color $color-accent
          bottom -1px
          left 0
          right 0
          transition transform .15s linear
          transform scaleX(0) translateZ(0)

        &:hover
          color $color-accent

          &:after
            transform scaleX(1) translateZ(0)

    & .menu__btn-close
      position absolute
      right 20px

    &:before
      content ''
      display flex
      position fixed
      top 0
      left 0
      height 100vh
      width 100vw
      transition transform .15s ease-out
      transform translate(0, -100%)
      background-color alpha($color-dark, .98)
      transition-delay .15s
      z-index -1

  &.active
    & .menu-wrapper
      transform translate(0, 0)

      &:before
        transform translate(0, 0)

  & .accent-link
    color $accent-color
    transition color .2s ease-in
    text-transform uppercase
    letter-spacing 5px

    &:hover
      color darken($color-light, 10%)



.menu-search
  &__wrapper
    position absolute
    width 100%
    height 100%
    display flex
    flex-direction row
    max-width 100%
    left 0
    top 0
    padding 5px
    background-color $color-dark
    transition transform .15s ease-in
    transform scaleY(0) translateZ(0)
    transform-origin 50% 0

    &.active
      transform scaleY(1) translateZ(0)

  &__form
    width 100%
    display flex
    transition border-color .15s ease-in
    border-bottom 1px solid $color-accent



    & .form-group
      width 100%

    & input,
    & button
      margin 0
      background-color transparent

    & input:focus,
    & input:active
      background-color transparent

    & button
      color darken($color-light, 10%)
      transition color .15s ease-in

      &:hover
        color $color-accent


.menu-content
  &__footer,
  &__header
    display flex
    justify-content center
    align-items center
    position absolute
    bottom 20px
    left 0
    right 0
    width 100%
    height 50px
    padding 0 30px

    &-item
      display flex

  &__header
    bottom unset
    top 20px


.menu-content__footer-item.social-links a
  color darken($color-light, 10%)
  transition color .2s ease-in
  display inline-flex
  margin-right 25px
  font-size 25px

  &:last-child
    margin-right 0

  &:hover
    color $color-accent




.menu-user-area
  height 90px
  width 100%
  overflow hidden

  & .avatar
    border-radius 50%
    height 90px
    width 90px
    background-repeat no-repeat
    background-size cover
    background-position center

  &_default,
  &_hover
    height 90px
    width 100%
    transform translateY(0) translateZ(0)
    opacity 1
    transition transform .15s ease-in, opacity .15s ease-in
    display flex
    justify-content center
    align-items center
    flex-direction column


  &:hover &_default
    opacity 0
    transform translateY(-100%) translateZ(0)

  &:hover &_hover
    opacity 1
    transform translateY(-100%) translateZ(0)





@media (max-width 991px)
  .menu-search__wrapper
    & input[type="text"]
      padding 10px

    & button
      padding 12px 10px

  .nav-header
    height 50px
    padding 0 15px

    & .menu-content
      &__footer
        flex-direction column
        padding 0 15px

    & .menu-wrapper
      width 100vw

    & .menu-content
      height 80vh
      width 90%


