.widget-list
    display flex
    flex-direction column

    .widget
        margin-bottom 15px

    .widget:last-child
        margin-bottom 0

.search-widget
    & .form-group
        width 100%

    &.widget
        background-color transparent
        padding 0

    input
        padding 10px

    input,
    button
        margin-bottom 0
        min-width unset

.sort-widget
    & select
        min-width unset
        background-color $color-white
        padding 10px

.widget
    background-color darken($color-light, 10%)
    padding 15px

    &__title
        color $color-dark
        font-weight bold
        text-transform uppercase
        border-bottom 1px solid lighten($color-light, 10%)
        margin-bottom 15px

    ul
        li
            position relative
            padding-left 20px

        li:before
            content '►'
            display flex
            position absolute
            align-items center
            left 0
            color $color-dark



