.button,
.btn,
.button:visited,
.btn:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
    padding 12px 30px
    text-transform uppercase
    letter-spacing 1.2px
    cursor pointer

    &.button-wide
        padding 12px 60px
        margin 0

    &.button-small
        padding 6px 15px
        margin 0

    &.button-default
        background-color darken($color-light, 30%)
        color $color-dark

        &:hover
            background-color darken($color-light, 50%)

    &.button-success
        background-color $color-success
        color $color-light

        &:hover
            background-color darken($color-success, 20%)


    &.button-danger
        background-color $color-danger
        color $color-light

        &:hover
            background-color darken($color-danger, 20%)


    &.button-outline
        background-color transparent
        color $color-light
        border 2px solid $color-light

        &:hover
            background-color $color-light
            color $color-dark

    &.button-outline-dark
        background-color transparent
        color $color-dark
        border 2px solid $color-dark

        & > i
            color $color-dark

        &:hover
            background-color $color-dark
            color $color-light

            & > i
                color $color-light

    &.button-icon
        font-family "Font Awesome 5 Free"
        border-radius 50%
        display inline-flex
        height 3rem
        width 3rem
        padding 0
        justify-content center
        align-items center


.button-small
    padding 6px 15px
    margin 0