@import './file.styl'
@import './buttons.styl'
@import './input.styl'



form.loading
    position relative
    pointer-events none
    opacity .7

    & input[type="submit"],
    & button[type="submit"]
        animation-name blink-highlight
        animation-iteration-count infinite
        animation-duration 1.4s
        animation-timing-function linear

@keyframes blink-highlight
    0%
        background-color lighten($color-light, 50%)
        color darken($color-dark, 50%)

    50%
        background-color darken($color-dark, 50%)
        color lighten($color-light, 50%)

    100%
        background-color lighten($color-light, 50%)
        color darken($color-dark, 50%)