.inputs-width_full input
    width 100%

.form-dark
    & h4
        color $color-light

    & input,
    & textarea
        background-color $color-light
        color $dark-color



input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select
    width 100%

.form-check
    & > label
        display inline-block

.file-input-label
    & input
        display none
