.glide
    position relative

    li
        h2,
        a
            position relative

    .scroll-down
        position absolute
        z-index 50
        height 50px
        width 34px
        top 80vh
        left 50vw
        transform translate(-50%, -50%)
        opacity .65
        cursor pointer

        &:before
            position absolute
            display block
            content ''
            top 0
            left 0
            height 100%
            width 100%

        svg
            width 100%
            height 100%
            display inline-block


.arrow-down path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:.8}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:.8}
    80% {opacity:0}
    100% {opacity:0}
}

.arrow-down path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrow-down path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrow-down path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
