.hint
    &__holder
        position relative

        &:hover .hint__text
            transform translate(-50%, -150%) scale(1)

    &__text
        font 1rem open-sans, sans-serif
        position absolute
        top 0
        left 50%
        background-color $color-light
        color $color-dark
        transition transform .15s ease-in
        transform translate(-50%, -150%) scale(0)
        padding 5px 10px
        transform-origin 50% 100%
        box-shadow 3px 4px 23px -3px $color-dark
