.arw-lang-selector
    overflow visible
    position relative

    &__item
        text-transform uppercase
        display flex
        position relative
        overflow hidden
        padding 0 20px
        cursor pointer
        transition color .2s ease-in
        user-select none

        &:hover:before
            transform translate(-50%, -50%) scale(2)

        &:hover
            color $color-dark

        &:before
            content ''
            position absolute
            z-index -1
            top 50%
            left 50%
            height 3rem
            width 3rem
            background-color alpha(lighten($color-dark, 50%), .8)
            transition transform .2s ease-in
            transform translate(-50%, -50%) scale(0)
            border-radius 50%

    &.active
        & .arw-lang-selector__list
            transform translateY(0)
            opacity 1

        & .arw-lang-selector__current
            visibility hidden

    &__list
        position absolute
        transform translateY(100%)
        transition transform .2s ease-in, opacity .2s ease-in
        opacity 0
        display flex
        left -50%
        top 0
