.lazy-slider
  &__control
    display flex
    flex-grow 1
    justify-content center
    align-items center

    &.disabled
      opacity .5

      &:hover
        cursor unset
        background-color darken($color-light, 30%)
        color $color-dark

  &__controls
    display flex
    justify-content stretch
    align-items stretch

    input
      text-align center
      margin-bottom 0
      min-width unset
      width unset

  &__imgs
    & > img
      opacity 1
      width 100%
      height auto
      transition opacity .15s ease-in
      display flex

      &.loading
        opacity 0
