.arw-modal
    display none
    position fixed
    top 0
    left 0
    height 100vh
    width 100vw
    z-index 999999
    background-color $color-overlay
    justify-content center
    align-items center

    & .arw-modal__wrapper
        display flex
        flex-direction column
        background-color $color-white
        transition transform .2s ease-in
        animation-duration .35s
        animation-iteration-count 1
        min-height 15vh
        min-width 15vw
        max-width 80vw
        max-height 80vh

        & .arw-modal__content
            padding 15px

        & .arw-modal__title
            background-color darken($color-dark, 20%)
            color $color-white
            display flex
            flex-direction row
            height 30px
            justify-content space-between
            align-items center

            &-text
                padding: 0 15px

            & .arw-modal__title-close
                height 30px
                width 30px
                display flex
                justify-content center
                align-items center
                cursor pointer


    &.active
        display flex

        & .arw-modal__wrapper
            animation-name modal-open
            transform translatey(0)

        &.closing  .arw-modal__wrapper
            animation-name modal-close


@media (max-width: 992px)
    .arw-modal .arw-modal__wrapper
        min-height 20vh
        min-width 50vw



@keyframes modal-open {
    0% {
        transform translateY(100px)
    }

    100% {
        transform translateY(0)
    }
}

@keyframes modal-close {
    0% {
        transform translateY(0)
    }

    100% {
        transform translateY(100px)
    }
}
