.notify
    &-holder
        position relative

    &-dot
        position: absolute
        top: 0
        right: 0
        transform: translate(100%, -50%)
        height: 12px
        width: 12px
        border-radius 50%
        background-color $color-danger
        border 2px solid #232629

        header.sticky ul ul &
            border-color $color-light

    &-counter
        position absolute
        display block
        padding 1px 10px
        background-color $color-dark
        color $color-white
        border-radius 20px
        top 50%
        right 1rem
        transform translateY(-50%)

