body:not(.loaded) > *:not(.main-preloader)
    visibility hidden

.main-preloader
    &__wrapper
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    &__element
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: darken($color-light, 70%);
        animation: spin 2s linear infinite;
        visibility visible

        &:before
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: darken($color-light, 35%)
            animation: spin 3s linear infinite;

        &:after
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $color-light;
            animation: spin 1.5s linear infinite;



@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}











.main-preloader
    position fixed
    top 0
    bottom 0
    right 0
    left 0
    height 100vh
    width 100vw
    z-index 9999999999999
    background-color $color-dark
    opacity 1
    transition opacity .15s ease-in
    display flex
    justify-content center
    align-items center

    & svg
        height 150px
        width 150px

    &.loaded
        opacity 0
