@media (max-width 768px)
    .arw-scroll-top
        display none

.arw-scroll-top
    position fixed
    bottom 5vh
    right 3vw
    line-height 1
    font-size 2rem
    background-color $color-accent
    color $color-white
    padding 15px
    cursor pointer
    transition background-color .2s ease-in, transform .2s ease-in
    border-radius 5px
    transform scale(0)

    &.active
        transform scale(1)

    &:hover
        background-color darken($color-accent, 20%)

