.color_light
    color $color-light !important

.color-hover_light:hover
    color $color-light !important

.bg-color_light
    background-color $color-light !important


.color_dark
    color $color-dark !important

.bg-color_dark
    background-color $color-dark !important

.color-hover_accent:hover
    color $color-accent  !important

.color_accent
    color $color-accent

.bg-color_accent
    background-color $color-accent


for $i in (1..10)
    .color-light_lighten{$i}
        color lighten($color-light, ($i * 10)%)

    .color-light_darken{$i}
        color darken($color-light, ($i * 10)%)

    .bg-color-light_lighten{$i}
        background-color lighten($color-light, ($i * 10)%)

    .bg-color-light_darken{$i}
        background-color darken($color-light, ($i * 10)%)

    .color-dark_lighten{$i}
        color lighten($color-dark, ($i * 10)%)

    .color-dark_darken{$i}
        color darken($color-dark, ($i * 10)%)

    .bg-color-dark_lighten{$i}
        background-color lighten($color-dark, ($i * 10)%)

    .bg-color-dark_darken{$i}
        background-color darken($color-dark, ($i * 10)%)

.has-overlay
    position relative

    &:before
        position absolute
        content ''
        top 0
        left 0
        display block
        height 100%
        width 100%
        background-color rgba(0, 0, 0, .7)
