.display

    &_block
        display block

    &_none
        display none

    &_flex
        display flex

    &_inline-block
        display inline-block

    &_inline-flex
        display inline-flex