.no-last-margin:last-child
    margin 0 !important

.no-first-margin:first-child
    margin 0 !important


for $i in (-150..150)
    // margins
    .m-{$i}
        margin ($i)px

    .mw-{$i}
        margin 0 ($i)px

    .mh-{$i}
        margin ($i)px 0

    .mb-{$i}
        margin-bottom ($i)px

    .mt-{$i}
        margin-top ($i)px

    .ml-{$i}
        margin-left ($i)px

    .mr-{$i}
        margin-right ($i)px


    // paddings
    .p-{$i}
        padding ($i)px

    .pw-{$i}
        padding 0 ($i)px

    .ph-{$i}
        padding ($i)px 0

    .pb-{$i}
        padding-bottom ($i)px

    .pt-{$i}
        padding-top ($i)px

    .pl-{$i}
        padding-left ($i)px

    .pr-{$i}
        padding-right ($i)px
