.authors-wrapper
    display flex
    justify-content space-between

    & .author-item
        display flex
        flex-direction column
        align-items center
        background-color $color-light
        transition background-color .2s ease-in
        padding 15px 30px

        &:hover
            background-color darken($color-light, 20%)

        & .author-avatar
            height 200px
            width 200px
            border-radius 50%
            background-position center
            background-size cover
            margin-bottom 15px

@media (max-width 768px)
    .authors-wrapper
        flex-direction column