

.page
    padding 105px 10px
    min-height 100vh

@media (max-width 991px)
    .row
        width 96% !important

    .page
        padding 65px 10px

.list
    display flex
    flex-direction column
    align-items center

    &-item:not(:last-child)
        margin-bottom 15px

    &-item
        display flex
        padding 35px
        background-color darken($color-light, 10%)
        flex-direction column

body hr
    margin 15px 0


.pagination
    display flex
    max-width 1008px
    justify-content center
    align-items center

    & > li

        & > a,
        & > span
            line-height 1
            min-height 50px
            min-width 50px
            background-color darken($color-light, 20%)
            transition background-color .2s ease-in
            display flex
            justify-content center
            align-items center

        &:hover
            & > a,
            & > span
                background-color darken($color-light, 40%)

        &.active
            & > a,
            & > span
                background-color $color-accent
                color $color-white


#cta
    background-color $color-light
    padding-top 156px
    padding-bottom 120px


ul.marked-list
    li
        position relative
        padding-left 20px

    li:before
        content '►'
        display flex
        position absolute
        align-items center
        left 0
        color $color-dark


@import './user-work-form.styl'
@import './single-post.styl'
@import './repo.styl';
@import './home.styl';