.repo-wrapper
        display flex
        max-width 96%
        margin 0 auto

// .work-pl-diagram
//     height 30px
//     width 100px

.progress
    width 100%
    height 30px
    background rgba(0, 0, 0, .2)
    position relative
    overflow hidden
    max-width 400px

    &__text
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        color $color-dark

    &__bar
        position absolute
        top 0
        left 0
        height 100%
        max-width 100%
        background-color $color-danger


.entry
    flex-direction row
    padding 0

    &__taxonomies
        display flex
        flex-direction row
        justify-content space-between

        & > div
            width 33.3%
            max-width 33.3%

            & p
                display flex
                flex-wrap wrap


    .list-item-content
        padding 35px

    .author-image
        background-position center
        background-size cover
        width 300px
        max-width 300px

.repository-page
    main,
    aside
        display flex
        width 100%

    aside
        width 35%
        max-width 400px

    main
        margin-right 35px

        & > .list
            width 100%


    .author-image
        flex-grow 1

    .entry-title
        flex-grow 7

    .post-meta-wrapper
        flex-grow 1

    .post-time
        text-align right


@media (max-width: 991px)
    .widget-list
        margin-top 15px

    .entry
        flex-direction column
        padding 0

        &__taxonomies
            flex-direction column

            & > div
                width 100%
                max-width 100%

        .list-item-content
            padding 15px

        .post-meta
            flex-direction row
            justify-content space-between

            &.post-time
                flex-direction column
                text-align right

        .author-image
            width 100%
            max-width 100%
            height 150px

    .repo-wrapper
        flex-direction column

        main
            margin-right 0

        main,
        aside
            width 100%
            max-width 100%


.min-width_100
    min-width 100px

