.post-cover
    height 50vh
    background-repeat no-repeat
    background-size cover
    background-position center
    transition transform .15s ease-in
    transform scale(1)
    position relative

    &:before
        content ''
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        background-color alpha($color-dark, .75)

    &__wrapper
        max-height 50vh
        overflow hidden
        position relative

    &__content
        position absolute
        bottom 35px
        display flex
        width 100%
        justify-content center


        &:hover .post-cover
            transform scale(1.2)


article.post
    .post-meta
        display flex
        justify-content flex-start
        width 100%
        align-items center

        img
            width 60px
            height 60px
            border-radius 50%

