.user-works-form
    .row,
    .col
        display flex
        flex-grow 1
        flex-direction column

.work-attachments
    display flex
    justify-content stretch
    align-items stretch

    & .work-attachment
       display flex
       flex-direction column
       justify-content center
       align-items center
       flex-grow 1

       &__spacer
           diaplay none

@media (max-width 991px)
    .work-attachment__spacer
        display flex
        min-width 15px


